$pagewidth: 960px;
$px:px;
$primaryfont:"Sans","Arial";
$primaryfontsize:14px;


*{padding:0px;margin:0px;}
body{
	padding:0px;
	margin:0px;
	font-family:$primaryfont;
	font-size:$primaryfontsize;
	background-color:rgb(232,232,232);
}
a,a:visited{
	color:blue;
	text-decoration:none;
}
ul{
	li{
		padding:0px;
		margin:0px;
		list-style-type:none;
	}
}
header{
	$headerpadding:50px;
	$linkspace: 10px;
	
	width:#{$pagewidth - $headerpadding*2};
	padding:0px $headerpadding;
	margin:0px auto;
	height:80px;
	background-color:white;
	border-bottom:solid 4px rgb(255,125,0);
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	color:#5286A0;
	line-height:80px;
	z-index:0;
	font-family:$primaryfont;
	h1{
		font-size:1em;
		float:left;
		display:inline-block;
		padding-left:200px;
	}
	ul{
		float:right;
		margin-right:#{-$linkspace};
		li{
			float:left;
			a{
				color:#3B0000;
				font-size: #{11px/$primaryfontsize}em;
				display:inline-block;
				padding-left:$linkspace;
				padding-right:$linkspace;
				
			}
			a:hover{
				background-color:#5286A0;
				background-color: rgb(255,125,0);
				color:white;
			}
		}
	}
	div{
		display:inline-block;
		vertical-align:middle;
		float:left;
		img{
			margin-top:25px;
		}
	}
}

#documentlist li{
	width:300px;
	text-align:justify;
	color:#555555;
}
.heading{
	font-weight:bold;color:#7E6433;
}
.normal{
	color:black;
	font-size:$primaryfontsize;
	font-weight:normal;
}
h1.normal{
	font-size:1.1em;
	font-weight:bold;
	color:#2B6175;
}

#documentlist 
{
	li{
		margin-top:10px;
	}
}

#content /**main container of the page **/{
	$contentpadding:50px;
	width:#{$pagewidth - ($contentpadding*2)};
	padding:$contentpadding;
	margin:0px auto;
	margin-top:100px;
	background-color:rgb(255,252,252);
	border-top:solid 1px rgb(200,250,200);
	border-left:solid 1px rgb(250,200,200);
	border-bottom:solid 1px rgb(200,200,200);
	border-right:solid 1px rgb(250,200,200);
	
	ul{
		padding:0px;
		margin-left:#{-$contentpadding};
		width:$pagewidth;
		li{
			display:block;
			padding: 25px $contentpadding;
			border:solid 1px transparent;
			border-left:solid 3px transparent;
			margin-bottom:20px;
			a{
				display:inline-block;
				p,span{
					color:black;
				}
				.date{
					font-size:0.7em;
				}
			}
		}
	}
}
.hidden{
	visibility:hidden;
	display:none;
}
.title-wrapper{
	display:block;
	text-align:center;
	.title {
		margin:20px auto;
		display:inline-block;
	}
}
.blog {
	div {
		margin:10px auto;
	}
}
