* {
  padding: 0px;
  margin: 0px; }

body {
  padding: 0px;
  margin: 0px;
  font-family: "Sans", "Arial";
  font-size: 14px;
  background-color: #e8e8e8; }

a, a:visited {
  color: blue;
  text-decoration: none; }

ul li {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

header {
  width: 860px;
  padding: 0px 50px;
  margin: 0px auto;
  height: 80px;
  background-color: white;
  border-bottom: solid 4px #ff7d00;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #5286A0;
  line-height: 80px;
  z-index: 0;
  font-family: "Sans", "Arial"; }
  header h1 {
    font-size: 1em;
    float: left;
    display: inline-block;
    padding-left: 200px; }
  header ul {
    float: right;
    margin-right: -10px; }
    header ul li {
      float: left; }
      header ul li a {
        color: #3B0000;
        font-size: 0.78571em;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
      header ul li a:hover {
        background-color: #5286A0;
        background-color: #ff7d00;
        color: white; }
  header div {
    display: inline-block;
    vertical-align: middle;
    float: left; }
    header div img {
      margin-top: 25px; }

#documentlist li {
  width: 300px;
  text-align: justify;
  color: #555555; }

.heading {
  font-weight: bold;
  color: #7E6433; }

.normal {
  color: black;
  font-size: 14px;
  font-weight: normal; }

h1.normal {
  font-size: 1.1em;
  font-weight: bold;
  color: #2B6175; }

#documentlist li {
  margin-top: 10px; }

#main {
  width: 860px;
  padding: 50px;
  margin: 0px auto;
  margin-top: 100px;
  background-color: #fffcfc;
  border-top: solid 1px #c8fac8;
  border-left: solid 1px #fac8c8;
  border-bottom: solid 1px #c8c8c8;
  border-right: solid 1px #fac8c8; }
  #main ul {
    padding: 0px;
    margin-left: -50px;
    width: 960px; }
    #main ul li {
      display: block;
      padding: 25px 50px;
      border: solid 1px transparent;
      border-left: solid 3px transparent;
      margin-bottom: 20px; }
      #main ul li a {
        display: inline-block; }
        #main ul li a p, #main ul li a span {
          color: black; }
        #main ul li a .date {
          font-size: 0.7em; }

.hidden {
  visibility: hidden;
  display: none; }

.title-wrapper {
  display: block;
  text-align: center; }
  .title-wrapper .title {
    margin: 20px auto;
    display: inline-block; }

.blog div {
  margin: 10px auto; }
