<!DOCTYPE HTML>
<html lang="en-US" >
	{% block head %}
	<head>
		{% block title %}<title>Makin's library</title>{% endblock %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
		<meta name="HandheldFriendly" content="true"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		{% block head_meta %}{% endblock %}
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<script src="{% static 'js/jquery.js' %}"></script>
		
		{% block head_inside %}{% endblock %}
	</head>
	{% endblock %}
	
	{% block body %}
	<body>
		{%block header %}
		<header>
			{% block header_inside %}{% endblock %}
			<div class="logo-container">
				<a href="/"  title="Izzulmakin's personal space, archive, article, document, & library">
					<img src="{% static 'img/M.png' %}" alt="M"/>
				</a>
			</div>
			<h1 onclick="document.location='/';">Makin, personal archive &amp; document library</h1>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="https://twitter.com/makonil" title="random guy's twitter">Twitter</a></li>
				<li><a href="https://github.com/imakin" title="random guy's github">Github</a></li>
			</ul>
		</header>
		{% endblock %}
		
		{% block main %}
		<div id="main">
			{% block main_inside %}{% endblock %}
			{% block articles %}
			<div id="articles">
				{% block articles_inside %}{% endblock %}
			</div>
			{% endblock %}
		</div>
		{% endblock %}
		
		{% block footer %}
		<footer>
			This page is written in Python, whole sourcecode available <a href="https://github.com/imakin/imakinweb">here</a>
			{% block footer_inside %}{% endblock %}
		</footer>
		{% endblock %}
	</body>
	{% endblock %}
</html>
