<!DOCTYPE HTML>
<html lang="en-US" >
	{% block head %}
	<head>
		{% block title %}<title>Makin's library</title>{% endblock %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
		<meta name="HandheldFriendly" content="true"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
		<script src="{% static 'jquery.js' %}"></script>
		
		{% block head_inside %}{% endblock %}
	</head>
	{% endblock %}
	
	{% block body %}
	<body>
		{%block header %}
		<header>
			{% block header_inside %}{% endblock %}
			<div>
				<img src="{% static 'img/M.png' %}"/>
			</div>
			<h1>Makin, personal archive &amp; document library</h1>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Github</a></li>
			</ul>
		</header>
		{% endblock %}
		
		{% block main %}
		<div id="content">
			{% block main_inside %}{% endblock %}
		</div>
		{% endblock %}
		
		{% block footer %}
		<footer>
			<hr/> ini footer
			{% block footer_inside %}{% endblock %}
		</footer>
		{% endblock %}
	</body>
	{% endblock %}
</html>
