{% extends "default.html" %}
{% block title %}
	<title>Inspense. An easy accounting like application for daily tracking &amp; simple transactions - Izzulmakin</title>
{% endblock %}
{% block head_inside %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/inspense/style.css' %}">
{% endblock %}
{% block main_inside %}

	<div id="accounts">
		<ul id="income">
			<li>Job Salary</li>
			<li>Side Project Income</li>
			<li>Credit Paid</li>
		</ul>
		<canvas id="incomelines" width="100px" height="278px">
		</canvas>
		<ul id="base">
			<li>Cash in Hand</li>
			<li>Bank Account Manja</li>
			<li>Bank Account ABC</li>
		</ul>
		
		<ul id="expense">
			<li>Eating</li>
			<li>Transportation</li>
			<li>Home care</li>
			<li>Internet/charge</li>
			<li>Vacation</li>
			<li>Zakat</li>
			<li>Charity/giving/infaq</li>
			<li>Lost/Untracked expenses</li>
		</ul>
		
		<script>
			var ctx = document.getElementById("incomelines").getContext("2d");	
			ctx.beginPath();
				
			
			
			
			var basetop = $("#income").position().top;
			$("#income li").each(
				function() {
					var y = $(this).position().top - basetop + 17;
					ctx.moveTo(0, y);
					ctx.lineTo(40, y);
					ctx.strokeStyle = "#BDBDBD";
					ctx.stroke();
				}
			);
			var totalh = $("#accounts").height();
			var incomey = (totalh-incomeh)/2;
			$("#income").css("margin-top", incomey);
			var incomeh = $("#income").height();
			ctx.moveTo(50,basetop);
			ctx.lineTo(60,basetop);
			ctx.lineTo(60,incomeh);
			ctx.lineTo(50,incomeh);
			ctx.strokeStyle = "#ff0000";
			ctx.stroke();
		</script>
	</div>
	
	
	<p>Too Long; Didn't Read: <a href="https://github.com/imakin/Inspense" title="izzulmakin code repository">https://github.com/imakin/Inspense</a></p>
	<div class="linespacer"></div>
	<div class="preamble">
		<p>
			So the needs of the daily money expense tracker is already bugging me for years. 
			At those times i wrote my own python cli based app for that which runs on my linux, it is one of those my personal assistants relying on my Guake.
		</p>
		<p>
			In late 2014 after finishing my bachelor study, i realized the need of GPS to accompany me traveling outside the town, further than my previous travels.
			So i bought myself an Android smartphone, for the sake of the GPS &amp; map navigation. (yoi, my first smartphone, at the age of 22)
		</p>
		<p>
			In early 2015, after moving to work in Banten i found a good application for that in Android PlayStore: 
			<em>Income and Expense Insight</em> which i used to use a lot. 
		</p>
	</div>
	<div class="linespacer"></div>
	<p> 
		<h2>Incomes &amp; Expenses Insight</h2> is a good app: Fasten the creation of Transaction for all your daily need, 
		as all income moves to a single Account, and expense comes from a single Account. I used it to track my Cash-in-hand. 
		But then, I still needed to track my Bank account using other application.
		until in mid July 2015 i learned myself an Android Development with Java, and i want to add something usefull (to me at least): Multiple Bank account.
	</p>
	<div class="quote">in every data input, the income &amp; expense flow to a single account: the so-called <b>Base account</b></div>
	<p>
		Some people might said, it would be just the same as common accounting: input data which incomes equal expenses. 
		But let's keep the simplicity of the application which aimed for daily simple transaction: 
		in every data input, the income &amp; expense flow to a single account: the so-called <b>Base account</b>
		The next simplicity is that the autogenerated reference number, which the user does not have to bother seing it, nor writing it himself. 
		All s/he need to write is description, which is not even mandatory!
	</p>
	<div class="linespacer"></div>
	<p>
		<img src="{% static 'img/custom/inspense/overview.jpg' %}" alt="overview" style="width:200px;"/>
		<img src="{% static 'img/custom/inspense/baseadd.jpg' %}" alt="base" style="width:200px;"/>
		<img src="{% static 'img/custom/inspense/basepick.jpg' %}" alt="base" style="width:200px;"/>
	</p>
{% endblock %}
