{% extends "default.html" %}
{% block title %}
	<title>Inspense. An easy accounting like application for daily tracking &amp; simple transactions - Izzulmakin</title>
{% endblock %}
{% block head_inside %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/inspense/style.css' %}">
{% endblock %}
{% block main_inside %}

	<div id="accounttitle">
		<h3 id="incometitle">Income accounts</h3>
		<h3 id="basetitle">Base accounts</h3>
		<h3 id="expensetitle">Expense accounts</h3>
	</div>
	<div id="accounts">
		<ul id="income">
			<li id="aa">Job Salary</li>
			<li>Side Project Income</li>
			<li>Credit Paid</li>
			<li>Untracked Income</li>
		</ul>
		<canvas id="incomelines" width="50px" height="278px">
		</canvas>
		<ul id="base">
			<li id="active">Cash in Hand</li>
			<li>Bank Account Manja</li>
			<li>Bank Account ABC</li>
			<li>e-Money</li>
			<li>T-money</li>
		</ul>
		<canvas id="expenselines" width="50px" height="278px"></canvas>
		<ul id="expense">
			<li>Eating</li>
			<li>Transportation</li>
			<li>Home care</li>
			<li>Internet/charge</li>
			<li>Vacation</li>
			<li>Zakat</li>
			<li>Charity/giving/infaq</li>
			<li>Lost/Untracked expenses</li>
		</ul>
		
		<script>
			
			var ctincome = document.getElementById("incomelines").getContext("2d");	
			
			var incomeh = $("#income").height(); 						//-- calculate the height of the income div
			$("#incomelines").attr("height",incomeh); 					//-- match the canvas line
			var totalh = $("#accounts").height(); 						//-- this is the height of the container.
			var incomey = (totalh-incomeh)/2; 							//-- this is the expected top position (relative to parent) of the income ul,
																			//-- 	so that it can be in vertically centered
			$("#income").css("margin-top", incomey); 					//-- and set its top position
			$("#incomelines").css("margin-top", incomey);
			
			ctincome.beginPath();
			var incomepagey = $("#income").offset().top;
			$("#income li").each(
				function() {
					var y = $(this).offset().top - incomepagey + 16;	//-- match each line drawing to each li
					ctincome.moveTo(0, y);
					ctincome.lineTo(30, y);
					ctincome.strokeStyle = "#BDBDBD";
					ctincome.stroke();
				}
			);
			
			ctincome.beginPath();
			ctincome.moveTo(25,1); 											//-- the block lines of income ul
			ctincome.lineTo(45,1);
			ctincome.lineTo(45,incomeh-2);
			ctincome.lineTo(25,incomeh-2);
			ctincome.strokeStyle = "#aa0000";
			ctincome.stroke();
			
			
			
			var baseh = $("#base").height();
			$("#baselines").attr("height", baseh);
			var basey = (totalh-baseh)/2;
			$("#base").css("margin-top",basey);
			
			
			var ctexpense = document.getElementById("expenselines").getContext("2d");	
			
			var expenseh = $("#expense").height();
			$("#expenselines").attr("height", expenseh);
			var expensey = (totalh-expenseh)/2;
			$("#expense").css("margin-top",expensey);
			$("#expenselines").css("margin-top",expensey);
			var expensepagey = $("#expense").offset().top;
			
			ctexpense.beginPath();
			$("#expense li").each(
				function() {
					var y = $(this).offset().top - expensepagey + 16;
					ctexpense.moveTo(20,y);
					ctexpense.lineTo(50,y);
					ctexpense.strokeStyle = "#BDBDBD";
					ctexpense.stroke();
				}
			);
			ctexpense.beginPath();
			ctexpense.moveTo(15,1); 											//-- the block lines of income ul
			ctexpense.lineTo(5,1);
			ctexpense.lineTo(5,expenseh-2);
			ctexpense.lineTo(15,expenseh-2);
			ctexpense.strokeStyle = "#aa0000";
			ctexpense.stroke();
			
		</script>
	</div>
	
	
	<p>Too Long; Didn't Read: <a href="https://github.com/imakin/Inspense" title="izzulmakin code repository">https://github.com/imakin/Inspense</a></p>
	<div class="linespacer"></div>
	<div class="preamble">
		<p>
			So the needs of the daily money expense tracker is already bugging me for years. 
			At those times i wrote my own python cli based app for that which runs on my linux, it is one of those my personal assistants relying on my Guake.
		</p>
		<p>
			In late 2014 after finishing my bachelor study, i realized the need of GPS to accompany me traveling outside the town, further than my previous travels.
			So i bought myself an Android smartphone, for the sake of the GPS &amp; map navigation. (yoi, my first smartphone, at the age of 22)
		</p>
		<p>
			In early 2015, after moving to work in Banten i found a good application to do that in Android PlayStore: 
			<em>Income and Expense Insight</em> which i used to use a lot. 
		</p>
	</div>
	<div class="linespacer"></div>
	<p> 
		<h2>Incomes &amp; Expenses Insight</h2> is a good app: Fasten the creation of Transaction for all your daily need, 
		as all income moves to a single Account, and expense comes from a single Account. I used it to track my Cash-in-hand. 
		But then, I still needed to track my Bank account using other application.
		until in mid July 2015 i learned myself an Android Development with Java, and i want to add something usefull (to me at least): Multiple Bank account.
	</p>
	<div class="quote">in every data of transaction, the income &amp; expense flows to a single account: the so-called <b>Base account</b></div>
	<p>
		Some people might said, it would be just the same as common accounting: input data which incomes equal expenses. 
		But let's keep the simplicity of the application which aimed for daily simple transaction: 
		in every data of transaction, the income &amp; expense flows to a single account: the so-called <b>Base account</b>
		The next simplicity is that the autogenerated reference number, which the user does not have to bother seing it, nor writing it himself. 
		All s/he need to write is description, which is not even mandatory!
	</p>
	<div class="linespacer"></div>
	<p>
		<img src="{% static 'img/custom/inspense/overview.jpg' %}" alt="overview" style="width:200px;"/>
		<img src="{% static 'img/custom/inspense/baseadd.jpg' %}" alt="base" style="width:200px;"/>
		<img src="{% static 'img/custom/inspense/basepick.jpg' %}" alt="base" style="width:200px;"/>
	</p>
{% endblock %}
