{% extends "default.html" %}
{% block title %}
	<title>Testing my phone sensors with html - Izzulmakin</title>
{% endblock %}
{% block main_inside %}
<div id="data" style="
	display:block;
	text-align:center;
	font-size:1.5em;
">
	<p>i say: <span id="echo"></span></p>
	<p>z <span id="dz"></span></p>
	<p>y <span id="dy"></span></p>
	<p>x <span id="dx"></span></p>
	<p>
		<button id="vibrate" type="button">drreettttt</button>
	</p>
</div>
<script>
	$(
		function () {
			$("#vibrate").click(
				function() {
					if("vibrate" in window.navigator) {
						window.navigator.vibrate([1000,500,200,400]);
					}
				}
			);
			document.getElementById("echo").innerHTML = "HAI WOROLT!";
			window.addEventListener('deviceorientation', 
				function(event) {
					document.getElementById("dz").innerHTML = event.alpha;
					document.getElementById("dy").innerHTML = event.beta;
					document.getElementById("dx").innerHTML = event.gamma;
				}
			);
		}
	);
</script>
{% endblock %}
