{% extends "default.html" %}
{% block head_inside %}
	<style>
		#main{
			text-align:center;
		}
		#div_slam{
			border:solid 1px #CACACA;
			display:inline-block;
		}
	</style>
	{% load staticfiles %}
	<script type='text/javascript' src="{% static 'js/custom/slam/phaser.js' %}"></script>
{% endblock %}
{% block main_inside %}
	<script>
		// dokumentasi http://phaser.io/docs/2.3.0/Phaser.Game.html
		
		var PI = 3.14159;
		var RADTODEG = 57.2957795;
		var game = new Phaser.Game(640, 480, Phaser.AUTO, 'div_slam',null, true);
		var echo = console.log
		var frame = 0;
		var avatar;
		var p = {x:0,y:0};
		var vehicle = {
			move_rate:50, 
			next_move:0,
			rot_expected:0,
			rot_expected_c: function() {return this.rot_expected+PI;},
			rot_expected_cd: function() {return (this.rot_expected+PI)*RADTODEG;},
			rot_current:0,
			rot_current_c: function() {return this.rot_current+PI;},
			rot_current_cd: function() {return (this.rot_current+PI)*RADTODEG;},
			rot_diff:0,
			rot_diff_d:function() {return (this.rot_diff*RADTODEG);},
			rot_taken:'stop',
			pos_expected: {
				x:0,
				y:0
			},
			pos_current: function() { return ({x:avatar.body.x, y:avatar.body.y});},
			pos_diff: 0,
			
			update_rot_diff: function() {
				this.rot_diff = Math.max(this.rot_current_c(),this.rot_expected_c()) - Math.min(this.rot_current_c(),this.rot_expected_c());
			},
			update_pos_diff: function() {
				current_x = avatar.body.x;
				current_y = avatar.body.y;
				this.pos_diff = Math.sqrt((this.pos_expected.x-current_x)*(this.pos_expected.x-current_x) + (this.pos_expected.y-current_y)*(this.pos_expected.y-current_y));
			},
			update_rot_current: function() { 
				this.rot_current = avatar.rotation;
			},
		};
		
		var main_state = {
			init: function() {
				
			},
			
			preload: function() {
				game.load.image('sprite_vehicle', '/static/img/custom/slam/avatar.png');
			},

			create: function() { 
				game.physics.startSystem(Phaser.Physics.ARCADE);
				avatar = game.add.sprite(250, 300, 'sprite_vehicle');
				avatar.anchor.set(0.5);
				game.physics.enable(avatar, Phaser.Physics.ARCADE);
				avatar.body.allowRotation = true;
				this.bmd = game.add.bitmapData(game.width,game.height);
				this.bmd.addToWorld();
				this.bmd.clear();
				this.info = game.add.text(20,20,"Bismillah",{font:"normal 12px Arial"});
				this.plot();
				
				this.path = new Phaser.Line(0,0,0,0);
			},
			update: function() {
				if (game.input.activePointer.isDown) {
					this.vehicle_setGoal();
				}
				
				this.info.text = "r.rot_expected "+vehicle.rot_expected+" ("+vehicle.rot_expected_cd()+")"+
								"\n a.rot"+avatar.rotation +
								"\n v.rot_current"+vehicle.rot_current +" ("+vehicle.rot_current_cd()+")"+
								"\n v.rd"+ vehicle.rot_diff+ " ("+vehicle.rot_diff_d()+")"+
								"\n v.rt"+vehicle.rot_taken;
				vehicle.update_rot_current();
				if (vehicle.rot_diff_d()>5)
				{
					if (vehicle.rot_taken=='stop')
					{
						if (vehicle.rot_current_cd()>90 && vehicle.rot_current_cd()<270)
						{
							if (vehicle.rot_expected_cd()> vehicle.rot_current_cd())
								vehicle.rot_taken = 'right';
							else
								vehicle.rot_taken = 'left';
						}
						else
						{
							var flip = vehicle.rot_current_cd()+180;
							if (flip>360)	flip = flip - 360;
							if (vehicle.rot_expected_cd()> flip)
								vehicle.rot_taken = 'left';
							else
								vehicle.rot_taken = 'right';
						}
					}
					
					if (vehicle.rot_taken == 'left') {
						vehicle.rot_current = vehicle.rot_current - 0.05;
						if (vehicle.rot_current_cd() < 0)
							vehicle.rot_current = ((360+vehicle.rot_current_cd())/RADTODEG)-PI;
					}
					else {
						vehicle.rot_current = vehicle.rot_current + 0.05;
						if (vehicle.rot_current_cd() > 360)
							vehicle.rot_current = ((vehicle.rot_current_cd()-360)/RADTODEG)-PI;
					}
					avatar.rotation = vehicle.rot_current;
					vehicle.update_rot_diff();
					var angle = avatar.rotation;
					var speed = 30;
					avatar.body.velocity.x = Math.cos(angle) * speed;
					avatar.body.velocity.y = Math.sin(angle) * speed;
				}
				else
				{
					vehicle.rot_taken = 'stop';
					this.vehicle_stop();
					if (vehicle.pos_diff>30)
					{
						avatar.body.velocity.x = Math.cos(avatar.rotation) * 40;
						avatar.body.velocity.y = Math.sin(avatar.rotation) * 40;
						vehicle.update_pos_diff();
						
						vehicle.rot_expected = game.physics.arcade.angleToXY(avatar,p.x,p.y);
						vehicle.update_rot_current();
						vehicle.update_rot_diff();
					}
					else
					{
						this.vehicle_stop();
						this.bmd.clear();
					}
				}
			},
			
			vehicle_setGoal: function () {
				p = {x:game.input.x, y:game.input.y};
				vehicle.rot_expected = game.physics.arcade.angleToXY(avatar,p.x,p.y);
				vehicle.rot_current = avatar.rotation;
				vehicle.update_rot_diff();
				vehicle.pos_expected = p;
				vehicle.update_pos_diff();
				vehicle.rot_taken = 'stop';
				this.bmd.clear();
				this.bmd.rect(p.x-4,p.y-4, 8,8, 'rgba(200,230,200,1)');
				
				this.path.fromAngle(avatar.body.x + avatar.body.width/2,
									avatar.body.y + avatar.body.height/2,
									vehicle.rot_expected,
									vehicle.pos_diff);
				game.debug.geom(this.path);
			},
			vehicle_rotInstant: function() {
				avatar.rotation = vehicle.rot_expected;
				vehicle.update_rot_current();
			},
			vehicle_stop: function() {
				avatar.body.velocity.x = 0;
				avatar.body.velocity.y = 0;
			},
			plot: function () {
				this.bmd.rect(avatar.body.x,avatar.body.y, 1,1, 'rgba(0,0,0,1)');
			},
		}

		game.state.add('main', main_state,true);
		//~ game.state.start('main');
	</script>
	<div id="div_slam">
	</div>
{% endblock %}
