{% extends "default.html" %}
{% block head_inside %}
	{% load staticfiles %}
	<script type='text/javascript' src="{% static 'js/custom/slam/phaser.js' %}"></script>
{% endblock %}
{% block main_inside %}
	<script>
		// dokumentasi http://phaser.io/docs/2.3.0/Phaser.Game.html
		var game = new Phaser.Game(640, 480, Phaser.AUTO, 'div_slam',null, true);
		//~ var pc = new Phaser.Physics.Arcade(game);
		var main_state = {

			preload: function() {
				game.load.image('vehicle', '/static/img/custom/slam/avatar.png');
			},

			create: function() { 
				this.avatar = game.add.sprite(250, 300, 'vehicle');
				game.physics.arcade.enable(this.avatar);
				//~ this.avatar.body.angularVelocity = game.physics.arcade.moveToXY(this.avatar,0,0,20,0);
				//~ this.avatar.body.angularVelocity = game.physics.arcade.accelerateToXY(this.avatar,0,0,20);
				this.avatar.angle = this.avatar.angle+(game.physics.arcade.moveToXY(this.avatar,640,0,20,0) * 57.296/3);
			},
			   
			update: function() {
				//this.avatar.angle += 1;
				//~ this.avatar.body.velocity.x = 4;
				//~ pc.moveToXY(this.avatar,0,0,20,0);
				//~ this.avatar.angele = game.physics.arcade.moveToXY(this.avatar,0,0,20,0);
			}
		}

		game.state.add('main', main_state);
		game.state.start('main');
	</script>
	<div id="div_slam">
	</div>
{% endblock %}
