#accounts {
  font-size: 11pt;
  font-family: Sans, Arial, Trebuchet MS;
  padding: 20px;
  margin-top: 10px; }
  #accounts #income {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 0px; }
    #accounts #income li {
      margin: 0px;
      margin-bottom: 5px;
      padding: 3px;
      border-radius: 5px;
      border: solid 2px #c4c4c4;
      color: #7B9493;
      display: block;
      text-align: center; }
  #accounts #incomelines {
    vertical-align: top;
    display: inline-block; }
  #accounts #base {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 0px; }
    #accounts #base li {
      margin: 0px;
      margin-bottom: 5px;
      padding: 3px;
      border-radius: 5px;
      background-color: white;
      border: solid 2px #c4c4c4;
      color: #7B9493;
      display: block;
      text-align: center; }
    #accounts #base li#active {
      border: solid 2px #000000;
      background-color: #57669C;
      color: #F8F7DB; }
  #accounts #expense {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 0px; }
    #accounts #expense li {
      margin: 0px;
      margin-bottom: 5px;
      padding: 3px;
      border-radius: 5px;
      border: solid 2px #c4c4c4;
      color: #7B9493;
      display: block;
      text-align: center; }

#accounttitle h3 {
  color: #94A2B4;
  font-size: 1.5em;
  position: absolute; }
#accounttitle #incometitle {
  animation: bounceincome 1.2s ease-out;
  transform: translateY(0%);
  transform: translateX(5px); }
#accounttitle #basetitle {
  animation: bouncebase 1.2s ease-out;
  transform: translateY(0%);
  transform: translateX(290px); }
#accounttitle #expensetitle {
  animation: bounceexpense 1.2s ease-out;
  transform: translateY(0%);
  transform: translateX(545px); }

@keyframes bounceincome {
  0% {
    transform: translateY(-100%);
    transform: translateX(0px);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    transform: translateX(5px);
    opacity: 1; } }
@keyframes bouncebase {
  0% {
    transform: translateY(-100%);
    transform: translateX(0px);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    transform: translateX(290px);
    opacity: 1; } }
@keyframes bounceexpense {
  0% {
    transform: translateY(-100%);
    transform: translateX(0px);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    transform: translateX(545px);
    opacity: 1; } }
